@font-face {
	font-family: Europa;
	font-display: swap;
	src: url("../fonts/Europa-Bold.woff2") format("woff2"), url("../fonts/Europa-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Europa;
	font-display: swap;
	src: url("../fonts/Europa-Regular.woff2") format("woff2"), url("../fonts/Europa-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
