// Заголовки, общие БЄМ блоки и проче...
.red-button{
    background-color: #BF0830;
    padding: rem(14) rem(32);
    color: #fff;
    font-size: rem(16);
    line-height: 150%;
    transition: all 0.3s ease 0s;
    letter-spacing: 0.005em;
    display: inline-block;
    border-radius: rem(6);
    &:hover{
        background-color: #d30834;
    }
}
.red-button-outline{
    background-color:transparent;
    padding: rem(13) rem(31);
    color: $colorBlue;
    font-size: rem(16);
    line-height: 150%;
    transition: all 0.3s ease 0s;
    letter-spacing: 0.005em;
    display: inline-block;
    border-radius: rem(6);
    border: 1px solid #BF0830;
    letter-spacing: 0.005em;
    color: #BF0830;
    &:hover{
        background-color: #d30834;
    }
}